@import "./variables.scss";

html {
  overflow-y: auto !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity $primary-transition;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.w-100 {
  width: 100%;
}
