$body-font-family: "Montserrat", "Roboto", sans-serif !default;

$primary: #232f3e;
$secondary: #424242;
$accent: #82b1ff;
$error: #ff5252;
$info: #2196f3;
$success: #4caf50;
$warning: #ffc107;

@import "~vuetify/src/styles/styles.sass";
